<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <b>Company:</b>
  <%= @listing.company %>
</p>

<p>
  <b>Description:</b>
  <%= @listing.description %>
</p>

<p>
  <b>Created by:</b>
  <%= @listing.user.email %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
