<h1>Listing listings</h1>

<table>
  <tr>
	<th></th>
    <th>Title</th>
    <th>Company</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>	
	<td><%= link_to 'Apply', new_message_path([listing.id]) %>
    <td><%= listing.title %></td>
    <td><%= listing.company %></td>
    <td><%= listing.description %></td>

    <td><%= link_to 'Show', listing %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing', new_listing_path %>
